@import 'tailwindcss';
@import 'quill/dist/quill.snow.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.keterangan-content p {
    margin-bottom: 0.5rem;
}

.keterangan-content p:last-child {
    margin-bottom: 0;
}

.keterangan-content ul {
    list-style: disc;
    padding-left: 1.25rem;
    margin-bottom: 0.5rem;
}

.keterangan-content ol {
    list-style: decimal;
    padding-left: 1.25rem;
    margin-bottom: 0.5rem;
}

.keterangan-content li {
    margin-bottom: 0.125rem;
}
